<div class="container">
	<h1>Welcome to Twitter</h1>
	<form action='/tweet' method='post'>
	  <input type='text' name='text' placeholder='Type your tweet' autofocus="autofocus">
	  <button type='submit' value='Tweet it'>TWEET</button>
	</form>
	<div margin="0 auto" id="loader"><img src="/ajax-loader.gif"></div>
	<div id="message">
		<ul>
		<% if @tweets %>
			<% @tweets.each do |tweet| %>
				<li>Tweet: <%= tweet.text %>. Job ID: <a href="/status/<%= tweet.job_id %>"><%= tweet.job_id %></a></li>
			<% end %>
		<% else %>
			<li>You have no tweets!</li>
		<% end %>
		</ul>
	</div>
</div>
